.DS_Store
**.classpath
**.project
**.settings/
**target/
**logs
**.vscode
**.springBeans
**/.checkstyle
.idea/**
**.iml
**/.factorypath
yarn.lock
maplecloudy-platform-os/src/main/java/com/maplecloudy/platform/utils/FsInput.java
node_modules/**
yarn.lock
maplecloudy-platform-maven-pulgin/src/main/java/org/apache/hadoop/util/Shell.java
**.versionsBackup
application.pid